## Pandas

### 1. Reading Data

In [ ]:
data = pd.read_csv('my_file.csv', 
                   sep=';', #separate at semi-colon
                   encoding = 'latin-1', #encoding latin-1 reads French charactrers
                   nrows = 1000, #read the first 1000 rows
                   skiprows = [2,5] #remove the 2nd and the 5th rows)

In [ ]:
data.to_csv('my_file.csv', index = None)
# index None will write the data as it is, otherwise, you will get additional index in front each row

### 2. Selecting Data

In [ ]:
data.loc[8] # print the 8th row
data.loc[8,'col_1'] # print the value on 8th row, column 1
data.loc[range(4,6)] # print subset from row 4 to 6(excluded)

### 3. Logical Operations

In [ ]:
data[data['column_1']=='french']
data[(data['column_1']=='french') & (data['year_born']==1990)]
data[(data['column_1']=='french') & (data['year_born']==1990) & ~(data['city']=='London')]
data[data['column_1'].isin(['french', 'english'])]

### 4. Basic Plotting

In [ ]:
data['column_numerical'].plot()
data['column_numerical'].hist()

### 5. Updating table

In [ ]:
data.loc[8,'col_1'] = 'English'
data.loc[data['col_1'] == 'french', 'col_1'] = 'French' #change values of multiple rows in one line

                        ~~~ ~~~ ~~~ Outside Excel ~~~ ~~~ ~~~
### 6. Counting occurences

In [ ]:
data['col_1'].value_counts()

### 7. Broadcasting

In [ ]:
data['col_1'].map(len) # the len() function is applied to each element in col_1

data['col_1'].map(len).map(lambda x:x/100).plot() # chaining map and plot

data.apply(sum) 
#.apply() applies a function to columns. Use .apply(, axis=1) to do it on the rows.
#.applymap() applies a function to all cells in the table (DataFrame).

### 8. tqdm - progression bar

In [ ]:
from tqdm import tqdm_notebook
tqdm_notebook().pandas()
data['column_1'].progress_map(lambda x: x.count('e'))
# Replace .map() by .progress_map(), same for .apply() and .applymap()

### 9. Correlations and scatter matrices

In [ ]:
data.corr()
data.corr().apply(lambda x: int(x*100)/100)
pd.plotting.scatter_matrix(dat, figsize=(12,8))

### 10. SQL join

In [ ]:
data.merge(other_data, on = ['col_1', 'col_2','col_3'])

### 11. Grouping

In [ ]:
data.groupby('col_1')['col_2'].apply(sum).reset_index().sort_values('col_2', ascending = False)
#Group by a column, the select another column on which to operate a function. The .reset_index() reshapes your data as a DataFrame (table)

### 12. Iterating over rows

In [ ]:
dictionary = {}
for i,row in data.iterrows():
    dictionary[row['col_1']] = row['col_2']
    print(row['col_1'], row['col_2'])
    
#The .iterrows() loops through 2 variables together: the index of the row and the row (i and row in the code above).